[submodule "core"]
	path = core
	url = git@github.com:Armada-Pipeline/core.git
[submodule "packages/launcher"]
	path = launcher
	url = git@github.com:Armada-Pipeline/launcher.git
[submodule "packages/marina"]
	path = marina
	url = git@github.com:Armada-Pipeline/marina.git
