alabaster==0.7.12
altgraph==0.17
Babel==2.8.0
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
docutils==0.16
future==0.18.2
idna==2.9
imagesize==1.2.0
jsonschema==3.2.0
Jinja2==2.11.3
Lucidity==1.6.0
MarkupSafe==1.1.1
mock==4.0.2
packaging==20.3
pathtools==0.1.2
pefile==2019.4.18
Pygments==2.7.4
PyInstaller==3.6
pyparsing==2.4.6
PySide2==5.15.2
pytz==2019.3
pywin32-ctypes==0.2.0
Qt.py==1.3.6
requests==2.23.0
shiboken2==5.15.2
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.26.5
watchdog==2.1.6
