
QWidget{
    background: #262626;
    color:rgb(232,232,232) ;
    font-size: 12px ;
    font-weight:bold;
    border: 0px;
    padding: 0px;
}

/*QWidget#LineB{*/
/*    background-color: #c0c0c0;*/
/*}*/
QSvg {
  fill: #ff0000;
}

QLineEdit{
    background: #424242;
    color: #DADADA ;
    font: 12px "Roboto-Thin";
    border: none;
    height: 30px;
    border-radius: 15px;
}

QSplitter::handle:horizontal {
background-color: #5a5a5a;
}

QToolTip{
    color: rgb(200,200,200);
    background-color: rgb(20,20,20);
    border: 0px rgb(170,170,170);
    font: 12px "Roboto-Thin"
}

QTreeView{
    show-decoration-selected: 1;
    background: rgba(0, 0, 0, 0);
    color: #DADADA;
    font:12px "Segoe UI";
    border: none;
    height: 200px;
    outline: 0;
}

QTreeView::item:hover{
    background-color: #323232;
    color: #EDEDED;
    font-weight:bold;
}
QTreeView::branch:hover{
    background-color: #323232;
    color: #EDEDED;
    font-weight:bold;;
}
QTreeView::branch:selected{
    background-color: #4b4b4b;
}

QScrollBar::handle{
    background-color: rgb(156, 156, 156);
}
QScrollBar::sub-page {
    background: rgb(94, 94, 94);
}
QScrollBar::add-page {
    background: rgb(94, 94, 94);
}

QPushButton{
    Background:#636363;
    height: 30px;
    font: 12px "Roboto-Thin"
}
QPushButton:hover{
    Background: #369593;
}
QPushButton:hover:pressed{
    Background: #2e7a78;
}
QPushButton:pressed{
    Background:  #2a615f;
}
QPushButton:disabled{
    Background: #3b3b3b;
}


