
QWidget{
    background: #262626;
    color:rgb(232,232,232) ;
    font-size: 12px ;
    font-weight:bold;
    border: 0px;
    padding: 0px;
}

/*QWidget#LineB{*/
/*    background-color: #c0c0c0;*/
/*}*/
QSvg {
  fill: #ff0000;
}

QTextBrowser{
	background-color: transparent;
}

QLineEdit{
    background: #424242;
    color: #DADADA ;
    font: 12px "Roboto-Thin";
    border: none;
    height: 30px;
	padding-left: 10px;
}

QSplitter::handle:horizontal {
background-color: #5a5a5a;
}

QToolTip{
    color: rgb(200,200,200);
    background-color: rgb(20,20,20);
    border: 0px rgb(170,170,170);
    font: 12px "Roboto-Thin"
}

QTreeView{
    show-decoration-selected: 1;
    background: rgba(0, 0, 0, 0);
    color: #DADADA;
    font:12px "Segoe UI";
    border: none;
    height: 200px;
    outline: 0;
}

QTreeView::item:hover{
    background-color: #323232;
    color: #EDEDED;
    font-weight:bold;
}
QTreeView::branch:hover{
    background-color: #323232;
    color: #EDEDED;
    font-weight:bold;;
}
QTreeView::branch:selected{
    background-color: #4b4b4b;
}

QScrollBar::handle{
    background-color: rgb(156, 156, 156);
}
QScrollBar::sub-page {
    background: rgb(94, 94, 94);
}
QScrollBar::add-page {
    background: rgb(94, 94, 94);
}

QPushButton{
    Background:#636363;
    height: 30px;
    font: 12px "Roboto-Thin"
}
QPushButton:hover{
    Background: #369593;
}
QPushButton:hover:pressed{
    Background: #2e7a78;
}
QPushButton:pressed{
    Background:  #2a615f;
}
QPushButton:disabled{
    Background: #3b3b3b;
}


/*QComboBox{*/
/*	background-color: #2e7a78;*/
/*	!*background-color: #262626; *!*/
/*}*/
/*QComboBox::drop-down{*/
/*	border: 0px;*/
/*}*/
/*QComboBox::down-arrow*/
/*{*/
/*    image: url(resources/icon/arrow_down_white.svg);*/
/*    width: 14px;*/
/*    height: 14px;*/
/*}*/


QComboBox {
    background: #262626;
    font: 12px "Roboto Thin";
    padding: 1px 18px 1px 20px;
    border: none;
}
QComboBox:hover{
    background: #454545;
    font: 12px "Roboto Thin";
    height: 30px;
    border: none;
    border-radius: 6px;
}
QComboBox::drop-down{
	border: 0px;
}
QComboBox::down-arrow
{
    image: url(resources/icon/arrow_down_white.svg);
    width: 14px;
    height: 14px;
}
QAbstractItemView
{
    border: 0px;
	font: 12px "Roboto Thin" white;
    selection-background-color: #2e7a78;
	outline: none;
}
QAbstractItemView:item
{
    height: 30px;
	align-content: center;
}
QAbstractItemView:item:focus
{
	background-color: #2e7a78;
}

QLabel{
	background-color: transparent;
}