QPushButton{
	background-color: rgba(0, 0, 0, 0);
	height: 30px;
	border-radius: 6px;
	color: #d9d9d9;
	font-size: 14px;
	text-align:left;
	font-weight: bold;
	padding-left: 20px;
}
QPushButton:hover{
	color: #FFFFFF;
	background-color: #5a5a5a;
}
QPushButton:pressed{
	color: #2c998e;
}
QPushButton:checked{
	color: #2c998e;
}
